{% extends 'base.html' %}

{% load static %}

{% block css %}
  <link href="{% static 'css/detectBdg.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<style type="text/css">

</style>

<div class="container">

  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        
      <div class="image-container">
        <a href="{% url 'devapp:index' %}">
          <img class="lazyload" src="{% static 'images/mainImg.png' %}" >
        </a>
      </div>
      
      {% if image_url %}
      <div class=" align-center">
        <img src="{{ MEDIA_URL }}{{ image_url }}" alt="Image" class="rounded img-fluid display-image">
      </div>    
      {% endif %}
      
      {% if gptResultList.0 == 'gpterror' %}
          <div class="result-card">
              <p>ChatGPTのサーバが込み合っているためエラーとなりました。少し時間をあけてから再度お試しください。</p>
          </div>
      {% elif gptResultList %}
          <div class="result-card">
              <h2 class="align-center">ChatGPTの答え</h2>
              <div class="result-detail">
                <p class="result-question">1.ボードゲーム名</p>
                <p class="result-answer">{{ gptResultList.0 }}</p>
                <p class="result-question">2.どんなゲーム？</p>
                <p class="result-answer">{{ gptResultList.1 }}</p>
                <p class="result-question">3.似ているボードゲームは？</p>
                <a href="https://www.google.com/search?q={{ gptResultList.2 }} ボードゲーム" target="_blank" class="resultUrl"><p class="result-answer">{{ gptResultList.2 }}</p></a>
                <a href="https://www.google.com/search?q={{ gptResultList.3 }} ボードゲーム" target="_blank" class="resultUrl"><p class="result-answer">{{ gptResultList.3 }}</p></a>
                <a href="https://www.google.com/search?q={{ gptResultList.4 }} ボードゲーム" target="_blank" class="resultUrl"><p class="result-answer">{{ gptResultList.4 }}</p></a>
                <p class="text-chatgpt">powered by ChatGPT</p>
              </div>
          </div>
          <div class="warningInfoArea">
            <p>ChatGPTのサーバが混み合っている場合は<br />
            エラーになったり、回答が遅くなる場合があります</p>
          </div>
      {% else %}
      <div id="textArea" class="align-center">
        <p class="area-title">ボードゲームの名前を入力↓</p>
        <div class="search-box">
          <input type="text" name="inputText" id="inputText" class="search-input" placeholder="(例)カタン">
          <button type="submit" name="searchBdgByText" id="searchBdgByText" class="search-button"><i class="fas fa-search"></i></button>
        </div>
      </div>
      <div id="imageArea" class="align-center">
        <p class="area-title">ボードゲームを撮影↓</p>
        <div id="cameraBtnPosision">
          <!--ここにカメラを起動するボタンが動的にセットされる-->
        </div>
        <input type="submit" name="searchBdg" id="searchBdg" value="カメラ起動" hidden="hidden">
        <p class="camera-area-warning-text">※画像からボードゲームの名前が読み取れない場合失敗します</p>
      </div>
      
      <!--ペン、カメラアイコンボタン部分-->
      <div class="d-flex justify-content-center btnSwitchArea">
        <div class="btn-group btn-group-toggle mx-auto switchIconArea" data-toggle="buttons">
          <label class="btn btn-secondary active lblBtnSwitchLeft">
            <input type="radio" name="formChoice" id="textIcon" autocomplete="off">
            <i class="fa-solid fa-pen icon-size"></i>
          </label>
          <label class="btn btn-secondary lblBtnSwitchRight" id="lblImageIcon">
            <input type="radio" name="formChoice" id="imageIcon" autocomplete="off">
            <i class="fa-solid fa-camera icon-size"></i>
          </label>
        </div>
      </div>
      <div class="outer-catchArea">
        <div class="catchArea">
          <div class="catch-copy-area align-center">
            <p class="catchTextGroup1">「名前は聞いたことある」「見たことはある」</p>
            <p class="catchTextGroup2">『でも、どういうゲーム？！』</p>
            <p class="catchTextGroup2 catchText3">そんな疑問にChatGPTが</p>
            <p class="catchTextGroup2">答えてくれます！</p>
          </div>
          <div class="warningInfoArea">
            <p>ChatGPTのサーバが混み合っている場合は<br />
            エラーになったり、回答が遅くなる場合があります</p>
          </div>
        </div>
      </div>
      {% endif %}
  </form>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/detectBdg.js' %}"></script>
<script>
window.onload = function() {
    var resultCardExists = document.getElementsByClassName('result-card').length > 0;
    var bodyElement = document.getElementsByTagName('body')[0];
    var imageElement = document.querySelector('.image-container img.lazyload');
    
    // 検索画面と結果画面
    if (resultCardExists) {
        bodyElement.style.backgroundImage = 'url("{% static bg_result %}")';
        imageElement.classList.add('result-view');
    } else {
        bodyElement.style.backgroundImage = 'url("{% static bg_search %}")';
        imageElement.classList.add('search-view');
    }
    
    // ブラウザが画像を読み込んで表示するまでにCSSが適用されるタイミングが遅れる防止
    if(imageElement.complete) {
        imageElement.classList.add('loaded');
    } else {
        imageElement.addEventListener('load', function() {
            this.classList.add('loaded');
        });
    }
}
</script>
{% endblock %}

